@font-face {
  font-family: 'Space Mono';
  src: url('./fonts/Space_Mono/SpaceMono-Regular.ttf') format('truetype');
  /* Add additional font formats if needed */
}

@font-face {
  font-family: 'Prompt';
  src: url('./fonts/Prompt/Prompt-Black.ttf') format('truetype');
  /* Add additional font formats if needed */
}

nav, ul {
  background-color: #f2F1f0;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav ul li.active {
  background-color: #FFAF5D; /* Change to your desired highlight color */
  color: #6B5035; /* Change to your desired text color */
  padding: 5px 10px; /* Add padding to make it visually distinct */
  border-radius: 5px; /* Add rounded corners for style */
}

.navbar-logo {
  width: 250px;
  height: 100px;
  padding: 10px;
}


li {
  text-align: center;
  font-family: 'Prompt';
  color: #6B5045;
  display: inline-block;
  margin: 20px;
  cursor: pointer;

}

.week-selector {
  display: flex;
  padding: 20px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-family: 'Prompt';
  color: #6B5045;
  
}

.week-selector label {
  margin-right: 10px;
}


/* Grid */

.games-container {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-evenly;
}

.posts-container {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-evenly;
}

/* Set a fixed width for the game boxes */
.game-box {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 150px;
  padding: 0;
  margin: 25px 18px;
  font-size: .75rem;
  font-family: 'Space Mono';
  text-align: center;
  border-radius: 10px;
  border: 2px solid grey;
}

.post-box {
  display: flex;
  flex-direction: column;
  width: 1000px;
  padding: 10px;
  margin: 25px 18px;
  font-size: .75rem;
  font-family: 'Space Mono';
  text-align: justify;
  border-radius: 10px;
  border: 2px solid grey;
}

.game-table {
  padding: 1rem;

  text-align: left;
  font-family: 'Space Mono';
  font-size: medium;
  
  height: 100%;
  width: 100%;
  
}

th {
  padding: 1%;
  background-color: #FFAF5D;
  border-radius: 10px;
  text-align: center;
}

td {
  text-align: center;
  padding: 0;
}

.team-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.team-logo {
  padding-right: 10px;
  width: 35px;
  height: 35px;
}

.intros {
  font-family: 'Space Mono';
  text-align: center;
}

.score {
  font-family: 'Prompt';
  color: #6B5035;
}

a:hover,
a:visited,
a:active {
    color: #0077cc; /* Set the same color for hover, visited, and active states */
}